includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/

    # Laravel specific configurations
    reportUnmatchedIgnoredErrors: false
    
    # Ignore errors
    ignoreErrors:
        # Allow facades
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+::[a-zA-Z]+\(\)\.#'
        
        # Allow Laravel helper functions
        - '#Function [a-z_]+ not found\.#'
        
        # Ignore blade templates
        - '#Cannot call method [a-zA-Z]+\(\) on Illuminate\\View\\View\|string\.#'
        
        # Ziggy package
        - '#Instantiated class Tighten\\Ziggy\\Ziggy not found\.#'
        - '#Call to method toArray\(\) on an unknown class Tighten\\Ziggy\\Ziggy\.#'
        
        # Deprecated config options replacement
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics

    # Exclude files
    excludePaths:
        - '*/database/migrations/*'
        - '*/storage/*'
        - '*/resources/views/*'
        - '*/vendor/*'
        - '*/node_modules/*'
        - 'bootstrap/cache/*'
        - '_ide_helper.php'
        - '_ide_helper_models.php'
        - '.phpstorm.meta.php'

    # Type coverage
    typeAliases:
        Eloquent: 'Illuminate\Database\Eloquent\Model'
        Collection: 'Illuminate\Support\Collection'